/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";

body{
  background: image-url("bg-body.png");
  #main-content{
    background: #fff;
    .job{
      padding-bottom: 5px;
      border-bottom: 1px solid #e1e1e1;
      h2{
        a{
          font-size: 17px;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
    .job:hover{
      background: #e1e1e1;
      border: 1px solid #ededed;
    }
    #categories{
      .category{
        a{
          font-size: 17px;
          font-weight: bold;
        }
        a:hover{
          text-decoration: none;
        }
        .image img{
          display: block;
          margin: 0px auto;
        }
      }
      .category:hover{
        background: #ededed;
        padding-bottom: 5px;
        border-bottom: 1px solid #e1e1e1;
      }
    }

  }
}
.imageJob{
  img{
    display: block;
    margin: 0px auto;
  }
}